body{
  color: #FEFEFE;
  font-family: 'Montserrat', sans-serif;

}
.container{
  width: 600px;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  background-color: #151944;
  border-radius: 15%;
}

#tempBox{
  font-size: 15px;
}

#tempBox p{
  display: inline;
}

#input{
  padding: 5px;
  width: 225px;
  background-color: #151944;
  color: #FEFEFE;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;


  border: none;
}
#input::placeholder{
  color: #DBDBDB;
  font-family: 'Montserrat', sans-serif;
}

#tempTypeInput{
  background-color: #00C0C2;
  color: #FEFEFE;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
}

#convertButton{
  background-color: #00C0C2;
  color: #FEFEFE;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;

  border: none;

  height: 40px;

  border-radius: 10px;
}
